ndows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.pyc
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
*.png
*.jpg
__pycache__/
db.sqlite3
migrations/
.vscode/

#Special
uwsgi.log
mysite.xml