{% extends "base.html" %}
{% block content %}  
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="color:#505050">
            
            <div class="well well-sm">错误记录共<span style="color: red">{{ count_all }}</span>条，未解决<span style="color: red">{{count_filter}}</span>条</div>
            <table class="table table-responsive">
                <tr>
                   <td><b>#</b></td> 
                   <td><b>标题</b></td> 
                   <td><b>错误类型</b></td> 
                   <td><b>状态</b></td> 
                   <td><b>版本</b></td> 
                   <td><b>时间</b></td> 
                </tr>
                {% for notes in notelist %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'note:notedetail' notes.pk %}">{{ notes.title }}</a></td>
                    <td>{{ notes.notetype }}</td>
                    <td>{{ notes.notestatus }}</td>
                    <td>{{ notes.pdversion }}</td>
                    <td>{{ notes.created_time }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    
</div>
{% endblock content %}   