{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <blockquote>书籍</blockquote>
        {% for book in books  %}
        <div class="col-md-2">
            <div>
               <img src="{{ book.img.url }}" style="border: 1px solid gray;">
               <div style="padding-top: 10px">
		            <p><a href="#" data-toggle="tooltip" data-placement="top" title="{{ book.title }}">{{ book.title | slice:14}}</a></p>
                    <p>作者:{{ book.author }}</p>
                    <p>语言:{{ book.lang }}</p>
                    <p><a href="" data-toggle="tooltip" data-placement="top" title="{{ book.core }}">定位:{{ book.suit }}</a></p>
               </div>
            </div>
        </div>
        {% empty %}
        暂无书籍资料
        {% endfor %}
    </div>
    <hr>
    <div class="row" style="padding-top: 10px">
        <blockquote>技术博客</blockquote>
        {% for site in sites %}
        <div class="col-md-2">
            <a href="{{ site.site_url}}" target="_blank">{{ site.site }}</a>
        </div>
        {% empty %}
        暂无技术博客
        {% endfor %}
    </div>
    <div class="row" style="padding-top: 10px">
        <blockquote>资料收藏</blockquote>
        {% for coll in colles  %}
        <div class="alert alert-info">
            <p><b>{{ coll.name }}</b></p> 
            <p>{{ coll.text }}</p>
            收藏于{{ coll.coll_time | date:'Y-m-d'  }}
            <a href="{{ coll.site_url}}" target="_blank">查看详情</a>
        </div>
        {% endfor %}
    </div>
</div>
    <script>
					    $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script>
{% endblock content %}
